<h1>booking form</h1>
<div *ngIf="product">
{{product.name}}
{{product.price}}
{{product.owner.username}}
</div>
<form  #form="ngForm" novalidate>
    <div class='field' [ngClass]="{'has-error': feedbackEnabled && nameField.errors}">
      <label for="productName"> name</label>
      <input type="text" [(ngModel)]='name' name='name' #nameField='ngModel' >
    </div>

    <div class='field' [ngClass]="{'has-error': feedbackEnabled && priceField.errors}">
        <label for="productPrice">Product price</label>
        <input type="text" [(ngModel)]='price' name='price' #priceField='ngModel' >
    </div>
    <div class='field' [ngClass]="{'has-error': feedbackEnabled && typeField.errors}">
        <label for="producttype">Product type</label>
        <input type="text" [(ngModel)]='type' name='type' #typeField='ngModel' >
    </div>

    <button type="submit" (click)="addProduct(form)" >submit product</button>

  </form>