<app-filter-form (filterChange)="handleChangeFilter($event)" ></app-filter-form>

<div *ngIf="showAlert" class="alert">
    <div class="alert-content">
      <p>You must be logged in to book a rental.</p>
      <p>Go to <a [routerLink]="['/login']">Login</a></p>. 
      <p>Don't have an account yet? <a [routerLink]="['/signup']">Signup</a></p>
    </div>
  </div>  

<div class="products container">
  <ul class="arrange-products" *ngIf="products">
      <div *ngIf="(products.length == 0)">
          <p>No products were found based on your search. Please try again with new search terms.</p>
        </div>
      <li class="products-list" *ngFor="let product of productsArray">
        <app-product-card [product]="product" [showProfileLink]="showProfileLink" [user]="user" [businessId]="businessId"></app-product-card>
        <button class="secondary-btn" (click)="goToBooking(product._id)">BOOK</button>
      </li>
  </ul>
</div>