<app-filter-form (filterChange)="handleChangeFilter($event)" ></app-filter-form>

<div *ngIf="showAlert" class="alert">
    <div class="alert-content">
        <button class="exit-btn" (click)="displayAlert()"><i class="fas fa-times"></i></button>
        <p id="must-login">You must be logged in to book a rental.</p>
        <div *ngIf="showLoginForm">
        <app-login-form [feedbackEnabled]="feedbackEnabled" [error]="error" [processing]="processing" (submitForm)="handleLoginForm($event)"></app-login-form>
        <p>Don't have an account yet? <button class="primary-btn" (click)="toggleSignupLogin()">SIGNUP</button></p>
    
      </div>
        <div *ngIf="showSignupForm">
          <app-signup-form [feedbackEnabled]="feedbackEnabled" [error]="error" [processing]="processing" (submitForm)="handleSubmitForm($event)"></app-signup-form>
            <p>Already have an account? <button (click)="toggleSignupLogin()">Login</button></p>
        </div>
    </div>
  </div>  

<div class="products container">
  <ul class="arrange-products" *ngIf="products">
      <div *ngIf="(products.length == 0)">
        <p>No products were found based on your search. Please try again with new search terms.</p>
      </div>
      <li class="products-list" *ngFor="let product of productsArray">
        <app-product-card [product]="product" [showProfileLink]="showProfileLink" [user]="user" [businessId]="businessId"></app-product-card>
        <button class="secondary-btn" (click)="goToBooking(product._id)">BOOK</button>
      </li>
  </ul>
</div>