@import "variables";

/* -- FORMS -- */
@mixin forms{
  form.is-processing {
    opacity: 0.5;
  }
  form .field {
    margin-bottom: 10px;
  }
  form label {
    display: block;
    margin-bottom: 10px;
    font-style: bold;
  }
  form input {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
  }
  form .submit {
    padding-top: 20px;
  }
  form .field.has-error label {
    color: red;
  }
  form .validation {
    margin: 5px 0 10px;
    color: red;
  }
  form .field.has-error input {
    border: 1px solid  red;
    }
}

// --- TYPOGRAPHY --- //
@mixin main-text{
  font-family: $titillium;
  color: $primary-color;
  border-bottom: 1px solid lightgrey;
  width: 50%;
  margin-left: 25%;
}

// --- BUTTONS --- //

@mixin primary-button{
  border: none;
  padding: 10px;
  font-size: 1em;
  font-weight: bolder;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  color: white;
  background-color: $primary-color;
}
@mixin secondary-button{
  @include primary-button();
  background-color: $secondary-color;
  transform: skewX(-20deg);
  margin-bottom: 20px;
}
@mixin third-button{
  @include primary-button;
  background-color: $third-color;
  text-align: center;
  width: 50%;
}