
// COLORS
$primary-color: #43cea2;
$secondary-color: #185a9d;
$third-color: #9d1818;

// FONTS
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;
$titillium: 'Titillium Web', sans-serif;

// SIZES
$header-height: 200px;
$footer-height: 90px;