

<div class="container product-card">
    <div>
            <img src="{{apiUrl + product.imageUrl}}" alt="">
        </div>
        <h3>{{product.name}}</h3>
        <p>${{product.price}}/day</p>
        <ul class="rating">
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
        </ul>
    <div *ngIf="showProfileLink">
        <button class="secondary-btn"><a [routerLink]="['/business-profile', product.owner._id ]">DETAILS</a></button>
    </div>
</div>



