


<header id="site-header">

 <!-- NAV BAR -->
    <nav class="nav-bar container">
        <div class="pos-f-t">
            <div class="navbar navbar-dark">
                <div class="nav-logo">
                    <h3><a (click)="profile()">RENTILY</a></h3>
                </div>
                <button class="navbar-menu" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="nav-links">
                    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
                        <div *ngIf="loading">
                            <span class="username text">loading...</span>
                        </div>
                        <div class="nav-btns" *ngIf="!loading && !!user">
                            <div>
                                <p>You're connected as <span>{{user.username.toUpperCase()}}</span></p>
                            </div>
                            <div class="third-btn">
                                <a (click)="logout()">LOGOUT</a>
                            </div>
                        </div>
                        <div class="nav-btns" *ngIf="!loading && anon">
                            <button class="primary-btn">
                                <a (click)="login()">LOGIN</a>
                            </button>
                            <button class="primary-btn">
                                <a (click)="signup()">SIGNUP</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container main-header">
        <h3> The new way to rent!</h3>
        <app-search-form></app-search-form>
    </div>
    <img src="http://erikdkennedy.com/r-r-r-random/divider-triangle.png" class="divider"/>
</header>

<router-outlet></router-outlet>

<div class="backshape">
    <footer id="site-footer">
        <div>
            <p>Created by @danielleleb and @rodrigodaoud</p>
        </div>
    </footer>
</div>


