

<div class="container">
    <div class="main-ctn">
        <div class="search-info">
            <i class="fab fa-searchengin"></i>
            <h3> SEARCH BY CITY NAME </h3>
            <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
            O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias 
            desde o ano de 1500.</p>
        </div>
        <div class="search-info">
            <i class="fas fa-hand-point-up"></i>
            <h3> FIND THE BEST SPORT GEAR </h3>
            <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
            O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias 
            desde o ano de 1500.</p>
        </div>
        <div class="search-info">
            <i class="fas fa-bicycle"></i>
            <h3> BOOK IT INSTANTLY </h3>
            <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
            O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias 
            desde o ano de 1500.</p>
        </div>
    </div>
</div>