
<div class="container" *ngIf="product">
  <h3>Product: {{product.name}}</h3>
  <p>Price: ${{product.price}}/day</p>
  <p>Renter: {{product.owner.username}}</p>
  </div>
  <form class="container" (ngSubmit)="submitBookingForm(form)" #form="ngForm" novalidate>
      <div class='field' [ngClass]="{'has-error': feedbackEnabled && startDateField.errors}">
        <label for="startDate"> Start date: </label>
        <input type="date" [(ngModel)]='startDate' name='startDate' #startDateField='ngModel' >
      </div>
  
      <div class='field' [ngClass]="{'has-error': feedbackEnabled && endDateField.errors}">
          <label for="endDate"> End date: </label>
          <input type="date" [(ngModel)]='endDate' name='endDate' #endDateField='ngModel' (ngModelChange)="calculateBookingLengthAndCost(startDate, endDate)">
      </div>
      <div *ngIf="bookingLength">
      <p>Rent this product for {{bookingLength}} days.</p>
      <p>The total cost for this rental will be ${{bookingCost}}.</p>
    </div>
      <!-- <div class='field' [ngClass]="{'has-error': feedbackEnabled && typeField.errors}">
          <label for="producttype">Product type</label>
          <input type="text" [(ngModel)]='type' name='type' #typeField='ngModel' >
      </div> -->
  
      <button class="secondary-btn" type="submit" [disabled]="processing">BOOK NOW</button>
  
    </form>