
<div *ngIf="product">
  {{product.name}}
  {{product.price}}
  {{product.owner.username}}
  </div>
  <form  #form="ngForm" novalidate>
      <div class='field' [ngClass]="{'has-error': feedbackEnabled && startDateField.errors}">
        <label for="startDate"> Start date: </label>
        <input type="date" [(ngModel)]='startDate' name='startDate' #startDateField='ngModel' >
      </div>
  
      <div class='field' [ngClass]="{'has-error': feedbackEnabled && endDateField.errors}">
          <label for="endDate"> End date: </label>
          <input type="date" [(ngModel)]='endDate' name='endDate' #endDateField='ngModel' (ngModelChange)="calculateBookingLength(startDate, endDate)">
      </div>

      {{bookingLength}}
      <!-- <div class='field' [ngClass]="{'has-error': feedbackEnabled && typeField.errors}">
          <label for="producttype">Product type</label>
          <input type="text" [(ngModel)]='type' name='type' #typeField='ngModel' >
      </div> -->
  
      <button type="submit" (click)="addProduct(form)" >submit product</button>
  
    </form>