@import "../../scss/variables";

// --- CHECKBOX --- //
.check-filter{
    margin-bottom: 20px;
}
.slider-check {
    display: flex;
    align-items: center;
	width: 25px;
	height: 25px;
	background: #ddd;
    margin-top: 10px;
	border-radius: 100%;
	position: relative;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.slider-check label {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 100px;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	z-index: 1;
	background: #333;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
.slider-check input{
    margin-left: 5px;
    margin-top: 5px;
}
.slider-check input[type=checkbox]:checked + label {
	background: $primary-color;
}
.slider-check span{
    margin-left: 10px;
}

// --- COMPONENTS --- //

.filter{
    margin-bottom: 20px;
}