<div *ngIf="showAlert" class="alert">
  <div class="alert-content">
      <button class="exit-btn" (click)="displayAlert()"><i class="fas fa-times"></i></button>
    <div class="container" *ngIf="showLoginForm">
      <p id="must-login">You must be logged in to book a rental.</p>
      <app-login-form [feedbackEnabled]="feedbackEnabled" [error]="error" [processing]="processing" (submitForm)="handleLoginForm($event)"></app-login-form>
      <p>Don't have an account yet? <button (click)="toggleSignupLogin()">Signup</button></p>
    </div>
      <div *ngIf="showSignupForm">
        <app-signup-form [feedbackEnabled]="feedbackEnabled" [error]="error" [processing]="processing" (submitForm)="handleSubmitForm($event)"></app-signup-form>
          <p>Already have an account? <button (click)="toggleSignupLogin()">Login</button></p>
      </div>
      <div *ngIf="userPresent">
        <app-booking-form [product]="product"></app-booking-form>
        </div>
  </div>
</div>  

<div class='alert' *ngIf="showEditForm">
  <div class="alert-content">
    <div class="exit-btn">
      <button class="third-btn exit" (click)="displayEditForm(product._id)">X</button>
    </div>
    <div>
      <app-edit-product-page [product]="product"></app-edit-product-page>
    </div>
  </div>
</div>

<div class="add-back container" *ngIf="user">
  <div *ngIf="(user._id === businessId)">

    <button class="primary-btn" (click)="toggleForm()">ADD PRODUCT</button>
    <div *ngIf="showSelected" class="alert">
      <div class="alert-content">
        <div class="exit-btn-add">
          <button class="third-btn exit" (click)="displayAddForm()">X</button>
        </div>
        <div>
          <app-add-product-form class='content' [feedbackEnabled]="feedbackEnabled" [error]="error" [processing]="processing" (submitForm)="handleAddProductForm($event)"></app-add-product-form>
        </div>
      </div>
    </div>

  </div>

</div>

<ul class="arrange-products container" *ngIf="products">
  <li class="products-list" *ngFor="let product of products">
    <app-product-card [product]="product" [showProfileLink]="showProfileLink" [businessId]="businessId" [user]="user"></app-product-card>
    <div *ngIf="user">
    <div class="edit-btn" *ngIf="(user._id == businessId)">
        <button class="secondary-btn" (click)="displayEditForm(product)">EDIT</button>
    </div>
  </div>

    <div class="container" *ngIf="(!user || user.type !== 'business')">
      <button class="secondary-btn" (click)="goToBooking(product)">BOOK</button>
    </div>
  </li>
</ul>

<div class="back-btn">
  <button class="fourth-btn" (click)="goBack()">BACK</button>
</div>