
<ul *ngIf="products">
  <li *ngFor="let product of products">
      {{product.type}}
      {{ product.owner.username}}
  </li>
</ul>

<div *ngIf="(user._id === businessId)">
    <button (click)="ShowButton()">Add a new product for rent</button>
    <div *ngIf="showSelected">
      <form  (ngSubmit)="HideButton()" #form="ngForm" novalidate>
        <div class='field' [ngClass]="{'has-error': feedbackEnabled && nameField.errors}">
          <label for="productName">Product name</label>
          <input type="text" [(ngModel)]='name' name='name' #nameField='ngModel' >
        </div>
  
        <div class='field' [ngClass]="{'has-error': feedbackEnabled && priceField.errors}">
            <label for="productPrice">Product price</label>
            <input type="text" [(ngModel)]='price' name='price' #priceField='ngModel' >
        </div>
        <div class='field' [ngClass]="{'has-error': feedbackEnabled && typeField.errors}">
            <label for="producttype">Product type</label>
            <input type="text" [(ngModel)]='type' name='type' #typeField='ngModel' >
        </div>
    
        <button type="submit" (click)="addProduct(form)" >submit product</button>
  
      </form>
    </div>
</div>