
<div class="add-back container" *ngIf="user">
  <div *ngIf="(user._id === businessId)">
    <button class="primary-btn" (click)="toggleForm()">ADD PRODUCT</button>
      <div *ngIf="showSelected">
        <app-add-product-form [feedbackEnabled]="feedbackEnabled" [error]="error" [processing]="processing" (submitForm)="handleAddProductForm()"></app-add-product-form>
    </div>
  </div>
</div>

<ul class="product-list container" *ngIf="products">
  <li class="list-row" *ngFor="let product of products">
    <app-product-card [product]="product" [showProfileLink]="showProfileLink" [businessId]="businessId" [user]="user"></app-product-card>
    <div class="container edit-btn" *ngIf="(user._id == businessId)">
        <button class="secondary-btn"><a [routerLink]="['/business-profile', product._id, 'edit' ]">EDIT</a></button>
    </div>
    <div class="container" *ngIf="(user.type !== 'business')">
      <button class="secondary-btn" (click)="goToBooking(product._id)">BOOK</button>
    </div>
  </li>
</ul>

<div class="back-btn">
  <button class="fourth-btn" (click)="goBack()">BACK</button>
</div>